<ion-content>
  <ion-card class="welcome-card" style="background-color: #48BED0;">
    <ion-card-header>
        <ion-card-title style="color: white; font-size: 20px; text-align: center;">MY MEDICATION</ion-card-title>
  </ion-card-header>
  </ion-card>
  <ion-searchbar animated placeholder="Search Meds..."></ion-searchbar>
  
  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <a href="addmedication"><ion-fab-button>
       <ion-icon style="color: white; background: green;" name="add"></ion-icon>
      </ion-fab-button></a>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
          <a href="maintainmedication"><ion-fab-button>
           <ion-icon style="color: white; background: #E4A208;" name="construct"></ion-icon>
          </ion-fab-button></a>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
              <a href="/tabs/tab5"><ion-fab-button>
               <ion-icon style="color: white; background: #E43508;" name="ios-trash"></ion-icon>
              </ion-fab-button></a>
      </ion-fab>
 
</ion-content>