<ion-content>
  <ion-card class="welcome-card" style="background-color: #48BED0;">
    <ion-card-header>
        <ion-card-title style="color: white; font-size: 20px; text-align: center;">RESET PASSWORD</ion-card-title>
  </ion-card-header>
  </ion-card>
  <div class="relative">
      <ion-input type="Password" style="background: transparent;" placeholder="Enter New Password..."><ion-icon ios="md-key" md="md-key"></ion-icon></ion-input><br>
      <ion-input type="Password" style="background: transparent;" placeholder="Confirm Password..."><ion-icon ios="md-key" md="md-key"></ion-icon></ion-input><br>
      <ion-button style="font-weight: bolder;" expand="block" [disabled]="!userForm.valid" (click)="loginForm()">Confirm</ion-button><br><br><br><br><br>
      
  </div>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <a href="/tabs/tab1"><ion-fab-button>
       <ion-icon style="color: white; background: #E43508;" name="ios-arrow-back"></ion-icon>
      </ion-fab-button></a>
      </ion-fab>
 
</ion-content>
