<ion-content>
  <ion-card class="welcome-card" style="background-color: #48BED0;">
      <ion-card-header>
          <ion-card-subtitle style="color: white; font-size: 14px; text-align: center;">CLICK ON COLOURED LINKS BELOW</ion-card-subtitle>
        </ion-card-header>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1400 1700" preserveAspectRatio="xMinYMin meet">
              <image width="1350" height="1650" xlink:href="assets/human-respiratory-system.jpg">
              </image>
              <a xlink:href="http://rc.rcjournal.com/content/respcare/49/11/1349.full.pdf"><circle cx="290" cy="1250" r="50" fill="blue" opacity="0.4" /></a>
              <a xlink:href="https://www.medicinenet.com/lung_cancer/article.htm"><circle cx="889" cy="900" r="50" fill="green" opacity="0.4"/></a>
              <a xlink:href="https://www.webmd.com/lung-cancer/bronchial-adenoma#1"><circle cx="920" cy="1150" r="50" fill="yellow" opacity="0.4"/></a>
              <a xlink:href="https://www.mskcc.org/cancer-care/types/tracheal-diseases/diagnosis-treatment-msk/treatment-tracheal-bronchial-tumors"><circle cx="780" cy="900" r="50" fill="purple" opacity="0.4"/></a>
              <a xlink:href="https://www.mountsinai.org/locations/head-neck-institute/cancer/tracheal"><circle id="test" points="163,587 214,492 267,473 335,483 377,603 327,631 249,658 211,641" fill="#BC3607" opacity="0.3"/></a>
              </svg>

              <ion-button shape="round" href="http://canceratlas.cancer.org/data/#?view=map" fill="clear">
                    <ion-icon shape="round" name="md-analytics"></ion-icon>
              </ion-button>
              <ion-button shape="round" href="https://www.google.com/maps/search/cancer+treatment+centres+near+me/@-25.7579676,28.2322447,13z/data=!3m1!4b1" fill="clear">
                <ion-icon shape="round" name="ios-map"></ion-icon>
              </ion-button>
              <ion-button shape="round" href="calendar" fill="clear">
                <ion-icon shape="round" name="calendar"></ion-icon>
              </ion-button>
          
        </ion-card-content>


  </ion-card>
  
</ion-content>